.country-data {
    padding-left: 2vw;
    display: flex;
    flex-direction: column;
    /* width: 72vw; */
    overflow: scroll;
    height: 90vh;
    scrollbar-width: none;
    -ms-overflow-style: none;
}