.table-row {
  margin: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.entry {
  display: flex;
  flex-direction: row;
  padding-left: 5px;
  padding-right: 5px;
}

.tab {
  background-color: blueviolet;
  width: 20vw;
  height: 50px;
  align-items: center;
  padding-left: 0.5vw;
  font-size: 1.2vw;
  margin-right: 1vw;
}

.score {
  width: 6vw;
  justify-content: center;
}

.order {
  justify-content: right;
  width: 1vw;
  height: 5rem;
  margin-left: 2%;
}

.flag {
  display: flex;
  flex-direction: column;
}

.artist {
  height: 5rem;
}

.place-tab {
  margin-left: 10px;
  width: auto;
  padding-right: 10px;
}

.qualtable {
  border: 1px solid teal;
  height: 50px;
  width: 10vw;
  font-size: 1.5vw;
  padding-left: 5px;
  padding-right: 5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.country-text {
  font-size: 12px;
  display: flex;
  align-items: flex-end;
  padding-left: 2%;
  color: gray;
}