.select {
    position: relative;
}

.select select {
    width: 15vw;
    height: 50px;
    font-family: inherit;
    appearance: none;
    font-size: 1.2vw;
    background-color: rgb(101, 33, 165);
    border: 1px solid blue;
    color: white;
    text-align: center;
    cursor: pointer;
    position: relative;
}

.select-container img {
    z-index: 1;
    height: 55px;
    width: auto;
    left: 0px;
    padding-left: 5%;
    padding-right: 10vw;
    padding-top: 3%;

}